/*
 * Estilos de tu proyecto
 */

/* section Portoflio */

.containerPortfolio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerImages{
    width: 70%;
    margin-left: 15%; 
}

.image{
    margin: 20px;
    width: 300px;
}

.title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

